.filter-container {
  background-color: rgb(255, 239, 219);
}

.delbutton {
  align-self: center;
  background-color: bisque;
}

.buttoncontainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
