<div class="card mb-5" style="width: 18rem">
  <img [src]="animal.image" class="card-img-top" alt="..." />
  <div class="card-header">
    <h2 class="card-title mb-3">{{ animal.name }}</h2>
  </div>
  <div class="card-body">
    <p class="card-text d-flex justify-content-between">
      <i class="fa fa-heartbeat" aria-hidden="true"></i>
      <span> {{ animal.species }}</span>
    </p>
    <p class="card-text d-flex justify-content-between">
      <i class="fa fa-paw" aria-hidden="true"></i>
      <span>{{ animal.breed }}</span>
    </p>
    <p class="card-text d-flex justify-content-between">
      <i class="fa fa-venus-mars" aria-hidden="true"></i>
      <span>{{ animal.gender }}</span>
    </p>
    <p class="card-text d-flex justify-content-between">
      <i class="fa fa-arrows-v" aria-hidden="true"></i>
      <span>{{ animal.size }}</span>
    </p>
    <p class="card-text d-flex justify-content-between">
      <i class="fa fa-calendar" aria-hidden="true"></i>
      <span>{{ animal.age }}</span>
    </p>
    <p class="card-text d-flex justify-content-between">
      <i class="fa fa-scissors" aria-hidden="true"></i>
      <span>{{
        animal.isNeutered === true ? "ivartalanitva" : "nincs ivartalanitva"
      }}</span>
    </p>
  </div>
  <div class="card-footer d-flex justify-content-end">
    <div class="btn-group">
      <button class="btn btn-info" [routerLink]="['/animal/', animal.uniqueId]">
        <i class="fa fa-pencil"></i>
      </button>
      <button (click)="onDeleteAnimal(animal)" class="btn btn-danger">
        <i class="fa fa-trash"></i>
      </button>
    </div>
  </div>
</div>
