<div class="container home-container">
  <div class="jumbotron py-5 mt-5 px-5 home-content">
    <h1 class="display-4">Animal Heaven</h1>
    <p class="lead">
      Minden állatnak felelős gazdira van szüksége, de sajnos jópáran mégis
      menhelyeken élik le életüket.
    </p>
    <hr class="my-4" />
    <p>
      Ez az oldal azért jött létre, hogy árva kutyusokat és cicusokat mutasson
      be leendő, felelős gazdijuknak!
    </p>
    <a class="btn btn-light btn-lg" routerLink="/animal-list" role="button"
      >Örökbefogadható állatok</a
    >
  </div>
  <img
    class="dog-picture py-5"
    src="https://firebasestorage.googleapis.com/v0/b/animal-shelter-b8948.appspot.com/o/animals%2Fhappy.jpg?alt=media&token=ed4ca47f-9a0e-4586-8763-d62185e6ca35"
    alt="happy dogs"
  />
</div>
