<div class="container py-5">
  <H1>Örökbefogadható állatok</H1>

  <button [routerLink]="['/animal/0']" class="btn btn-success addbutton">
    Új Állatka
  </button>
</div>

<app-filter
  (keyPhrase)="onSearchAnimalName($event)"
  (speciesChange)="onSpeciesChange($event)"
  (ageChange)="onAgeChange($event)"
  (genderChange)="onGenderChange($event)"
  (sizeChange)="onSizeChange($event)"
></app-filter>

<div class="container">
  <div class="row">
    <div
      class="col-lg-3 col-md-4 col-sm-6 d-flex justify-content-center"
      *ngFor="
        let animal of animalList
          | async
          | filter: phrase:'name'
          | species: species
          | age: age
          | gender: gender
          | size: size
          | paginate: { itemsPerPage: 20, currentPage: p }
      "
    >
      <app-card [animal]="animal"></app-card>
    </div>
  </div>
</div>
<div class="pagination">
  <pagination-controls
    class="my-pagination"
    (pageChange)="p = $event"
    previousLabel="Előző"
    nextLabel="Következő"
  ></pagination-controls>
</div>
